<!-- topnavbar -->
<div class="topnav shadow p-1">
  <span class="menu" (click)="openNav()"><i class="bi bi-list"></i></span>
  <a>Admin VotechainWeb</a>
</div>
<!-- topnavbar -->

<!-- left sidebar nav  -->
<div class="sidebar shadow p-2" [ngStyle]="responsiveMenu">
    <ul>
      <li><a routerLink="/portal/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
      <li><a routerLink="/portal/"><i class="bi bi-card-text"></i> Estadisticas</a></li>

      <li>
        <a (click)="toggleDropdown3($event)"><i class="bi bi-bag"></i> Student <i class="bi bi-arrow-right icon"></i></a>
        <ul class="dropdow-container" [ngClass]="{'show': isDropdownOpen3}">
          
          <li><a routerLink="/portal/student"><i class="bi bi-person-gear"></i>Estudiantes</a></li>
          
        </ul>
      </li>

      <li>
        <a (click)="toggleDropdown2($event)"><i class="bi bi-bag"></i> Politic Party <i class="bi bi-arrow-right icon"></i></a>
        <ul class="dropdow-container" [ngClass]="{'show': isDropdownOpen2}">
          
          <li><a routerLink="/portal/politic-party">New Politic Party</a></li>
          <li><a routerLink="/portal/">Politic Party-student</a></li>
        </ul>
      </li>

      
      
      <li>
        <a (click)="toggleDropdown1($event)"><i class="bi bi-bag"></i> Electoral Process <i class="bi bi-arrow-right icon"></i></a>
        <ul class="dropdow-container" [ngClass]="{'show': isDropdownOpen1}">
          <li><a routerLink="/portal/electoral-process">New Electoral Process</a></li>
          <li><a routerLink="/portal/electoral-process-student">Electoral Process-student</a></li>
          
        </ul>
      </li>

     


      
      <li><a href="#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
    </ul>
  </div>
  <!-- left sidebar nav  -->