
/* topnav css  */
.topnav {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(11,155,245,1) 0%, rgba(244,91,105,1) 35%, rgba(246,148,71,1) 100%);
    color: white;
    border-bottom: 0px solid rgb(128, 128, 128);
    z-index: 9999;
}

.topnav a {
    float: left;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 16px;
}

.menu {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: none;
    z-index: 999;
    
}
/* topnav css  */

/* left sidebar nav  */

.sidebar {
    position: fixed;
    overflow: auto;   
    top: 62px;     
    background: linear-gradient(90deg, rgba(11,155,245,1) 40%, rgba(244,91,105,1) 90%);

    color: white;
    font-weight: bolder;
    height: 100%;
    border-right: 0px solid rgb(128, 128, 128);
    padding: 30px 5px;
    margin: 0px;
    width: 350px;
    z-index: 999;
}

.sidebar a {
    text-decoration: none;
    padding: 10px 10px;
    color: white;
    text-align: left;
    display: block;
}

.sidebar i {
    padding-right: 10px;
}

.sidebar .icon {
    float: right;
}

.dropdow-container{
    padding-left: 10px;
    overflow-y: hidden;
    max-height: 0px;
    transition: all .15s ease;
}

.dropdow-container.show{
    max-height: 1000px;
    transition: all .15 ease;
}
ul{
    padding: 0px;
}
ul>li>a.active{
    color: #000;
}

/* left sidebar nav  */

/* main-content */
.main-content {
    margin-left:230px;
    margin-top: 100px;
    padding: 10px 18px;
    transition: margin-left .5s;
}
/* main-content */



@media screen and (max-width:2000px) {

    .menu 
    {
        display: block;
    }
    .sidebar{
        display: none;
        width: 230px;
    }
    .sidebar a{
        padding: 10px 0px;
    }
    .main-content
    {
        margin-left: 0px;
    }

}