
/* topnav css  */
.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 196, 125, 0.9) 40%, rgba(244,91,105,1) 90%);
    color: rgb(83, 82, 82);
    z-index: 999;
    padding: 10px;
}

.topnav a {
    float: left;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 14px 16px;
}

.menu {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #000;
    display: none;
    z-index: 999;
    
}
/* topnav css  */

/* left sidebar nav  */

.sidebar {
    position: fixed;
    overflow: auto;   
    top: 75px;    
    left: 0px; 
    background: rgba(255, 196, 125,0.95);
    color: rgb(83, 82, 82);
    font-weight: bolder;
    height: 100%;
    padding: 30px 5px;
    margin: 0px;
    width: 350px;
    z-index: 9999;
}

.sidebar a {
    text-decoration: none;
    padding: 10px 0px 10px 20px;
    color: rgb(83, 82, 82);
    text-align: left;
    display: block;
}

.sidebar i {
    padding-right: 10px;
}

.sidebar .icon {
    float: right;
}

.dropdow-container{
    padding-left: 10px;
    overflow-y: hidden;
    max-height: 0px;
    transition: all .15s ease;
}

.dropdow-container.show{
    max-height: 1000px;
    transition: all .15 ease;
}
ul{
    padding: 0px;
}
ul>li>a.active{
    color: rgb(83, 82, 82);
}

/* left sidebar nav  */



@media screen and (max-width:2000px) {

    .menu 
    {
        display: block;
    }
    .sidebar{
        display: none;
        width: 230px;
    }
    .main-content
    {
        margin-left: 0px;
    }

}