<div class="container">
  <div class="card">
    <h2>Agregar Estudiante</h2>

    <form (ngSubmit)="addStudent()" class="form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-icon">
            <i class="fas fa-user"></i>
          </span>
          <input type="text" [(ngModel)]="newStudent.nombres" name="nombres" class="form-control" placeholder="Nombres" required>
          <span class="input-group-icon">
            <i class="fas fa-user"></i>
          </span>
          <input type="text" [(ngModel)]="newStudent.apellidos" name="apellidos" class="form-control" placeholder="Apellidos" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-tooltip" data-tooltip="Fecha de Nacimiento">
            <i class="fas fa-info-circle"></i>
          </span>
          <input type="date" [(ngModel)]="newStudent.fechaNacimiento" name="fechaNacimiento" class="form-control" required>
          <span class="input-group-tooltip">
            <i class="fas fa-info-circle"></i>
          </span>
          <input type="text" [(ngModel)]="newStudent.numeroDocumento" name="numeroDocumento" class="form-control" placeholder="Número de Documento" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-icon">
            <i class="fas fa-school"></i>
          </span>
          <select [(ngModel)]="newStudent.colegio" name="colegio" class="form-control" required (change)="getClassroomsForSchool(newStudent.colegio.id)">
            <option value="">Seleccione un colegio</option>
            <option *ngFor="let school of schools" [value]="school">{{ school.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-icon">
            <i class="fas fa-graduation-cap"></i>
          </span>
          <select [(ngModel)]="newStudent.classroom" name="classroom" class="form-control" required>
            <option value="">Seleccione un Classroom</option>
            <option *ngFor="let classroom of classrooms" [value]="classroom">{{ classroom.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-icon">
            <i class="fas fa-users"></i>
          </span>
          <input type="text" [(ngModel)]="newStudent.seccion" name="seccion" class="form-control" placeholder="Sección" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>

  <div class="card list-card">
    <h2>Listado de Estudiantes</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha de Nacimiento</th>
          <th>Número de Documento</th>
          <th>Colegio</th>
          <th>Classroom</th>
          <th>Sección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{ student.nombres }}</td>
          <td>{{ student.apellidos }}</td>
          <td>{{ student.fechaNacimiento }}</td>
          <td>{{ student.numeroDocumento }}</td>
          <td>{{ student.colegio?.name }}</td>
          <td>{{ student.classroom?.name }}</td>
          <td>{{ student.seccion }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteStudent(i)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
