<div class="container">
    <h2 class="text-center">Bienvenido a VoteChain</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Gestión de Procesos Electorales</h5>
            <p class="card-text">Administra los procesos electorales.</p>
            <a routerLink="/electoral-process" class="btn btn-primary">Ir a Procesos Electorales</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Gestión de Estudiantes</h5>
            <p class="card-text">Administra Estudiantes.</p>
            <a routerLink="/student" class="btn btn-primary">Ir a Gestion estudiantes</a>
          </div>
        </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Gestión de Partidos Políticos</h5>
            <p class="card-text">Administra los partidos políticos.</p>
            <a routerLink="/political-party" class="btn btn-primary">Ir a Partidos Políticos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  