<section>
  <div class="w-100 h-100 ">
    <div class="h-100 d-flex align-items-center justify-content-center ">
      <div class="col-6 h-100 gradient-background d-flex d-none d-md-flex align-items-center justify-content-center flex-column ">
        <img class="logo-text img-fluid" src="../../../../assets/images/VOTECHAIN.png" alt="votechain" />
        <img class="logo-home img-fluid" src="../../../../assets/images/votechain_logo_home.png" alt="votechain_logo_home" />
      </div>
      <div class="col-md-6 col-sm-12 h-100 d-sm-flex flex-column bd-highlight justify-content-center">
        <form class="m-5 p-sm-5">
          <h1 class="mb-5"><strong>Iniciar sesión</strong></h1>
          
          <label for="password" class="form-label"><strong>Usuario</strong></label>
          <div class="input-group input-group-lg mb-4">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i-feather name="user"></i-feather></span>
            <input type="password" class="form-control" aria-label="usuario" placeholder="example@gmail.com" aria-describedby="inputGroup-sizing-lg">
          </div>

          <label for="password" class="form-label"><strong>Contraseña</strong></label>
          <div class="input-group input-group-lg mb-4">
            <span class="input-group-text" id="inputGroup-sizing-lg"><i-feather name="lock"></i-feather></span>
            <input type="password" class="form-control" aria-label="password" placeholder="***************" aria-describedby="inputGroup-sizing-lg">
          </div>

          <button type="submit" class="btn btn-primary w-100 shadow p-2 rounded-4"><h5>Ingresar</h5></button>
        </form>
      </div>
    </div>
  </div>
</section>