<header>
  <app-sidebar/>
</header>

<section class="container mt-4">
  <div class="card p-4">
    <h5 class="card-title">Nuevo partido politico</h5>
  
    <div class="card-body">
      <form (ngSubmit)="postPoliticParty()">
        <div class="form-group">
          <label for="partyName">Nombre del partido:</label>
          <input type="text" class="form-control" id="partyName" [(ngModel)]="this.politicParty.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="partyDescription">Descripción:</label>
          <textarea class="form-control" id="partyDescription" [(ngModel)]="this.politicParty.description" name="description" required></textarea>
        </div>

        <div class="row g-3 mt-3">
          <div class="col-sm-7">
            <input type="text" class="form-control" [(ngModel)]="this.propuesta" name="propuesta"  placeholder="Propuesta" >
          </div>
          <div class="col-sm">
            <button class="btn btn-primary" (click)="addPropuestas(propuesta)">+ Agregar</button>
          </div>
        </div>
        <div class="mt-3">
          <p>Lista de propuestas:</p>
          <ul>
            <li *ngFor="let propuesta of listaPropuestas">{{propuesta}}
              <button class="btn btn-danger mt-2" (click)="deletePropuesta(propuesta)"> X </button>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Guardar</button>
      </form>
    </div>
  </div>

  <div class="card p-4 mt-4">
    <h5 class="card-title">Listado de Procesos Electorales</h5>
    
    <table class="table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descripcion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partido of listPoliticParties" >
          <td>{{partido.name}}</td>
          <td>{{partido.description}}</td>
          <td>
            <button class="btn btn-success">+ Participantes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

